{% extends 'base.html' %}

{% block title %}My Account{% endblock %}

{% block content %}
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
              rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    </head>
    Hi, {{ user }}! You can edit and view your personal information here...
    <br>
    <div class="card border-secondary text-center mr-5 ml-5">
        <h5 class="card-header">Delete Course</h5>
        <div class="card-body">
            <form method="post">
                <div class="form-group row pad">
                    <label for="id_phone_number" class="col-sm-5 col-form-label">Phone Number</label>
                    <div class="col-sm-5">
                        <div class="md-form mt-0">
                            {{ form.phone_number }}
                        </div>
                    </div>
                </div>
                <div class="form-group row pad">
                    <label for="id_office_hours" class="col-sm-5 col-form-label">Office Hours</label>
                    <div class="col-sm-5">
                        <div class="md-form mt-0">
                            {{ form.office_hours }}
                        </div>
                    </div>
                </div>
                <div class="form-group row pad">
                    <label for="id_office_number" class="col-sm-5 col-form-label">Office Number</label>
                    <div class="col-sm-5">
                        <div class="md-form mt-0">
                            {{ form.office_number }}
                        </div>
                    </div>
                </div>
                <div class="form-group row pad">
                    <label for="id_office_location" class="col-sm-5 col-form-label">Office Location</label>
                    <div class="col-sm-5">
                        <div class="md-form mt-0">
                            {{ form.office_location}}
                        </div>
                    </div>
                </div>

                <div class="col text center">
                    <input class="btn btn-dark " type="submit", name="submit", value="Save">
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>

    <div class="card border-secondary text-center mr-5 ml-5">
        <h5 class="card-header">
            Current Information
        </h5>

        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Phone #</th>
                    <th>Office Hours</th>
                    <th>Office #</th>
                    <th>Office Location</th>
                </tr>
                {% if taInfo != None %}
                    <tr>
                        <td>{{ taInfo.phone_number }}</td>
                        <td>{{ taInfo.office_hour }}</td>
                        <td>{{ taInfo.office_number }}</td>
                        <td>{{ taInfo.office_location }}</td></tr>
            </thead>
                    <tbody>
                        {% elif instrInfo != None %}
                            <tr class="table-secondary">
                                <td>{{ instrInfo.phone_number }}</td>
                                <td>{{ instrInfo.office_hour }}</td>
                                <td>{{ instrInfo.office_number }}</td>
                                <td>{{ instrInfo.office_location }}</td>
                            </tr>
                        {% endif %}
                </tbody>
    </table>

{% endblock %}