{% extends 'base.html' %}

{% block title %}Account{% endblock %}

{% block content %}

    Hi, {{ user }}! You can edit and view your personal information here...

    <form method="post">
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}

        <input type="submit", name="submit", value="Save">
    </form>


    <h3>Current Information</h3>
    <table>
        <tr>
            <th>Phone #</th>
            <th>Office Hours</th>
            <th>Office #</th>
            <th>Office Location</th>
        </tr>
        {% if taInfo != None %}
            <tr>
                <td>{{ taInfo.phone_number }}</td>
                <td>{{ taInfo.office_hour }}</td>
                <td>{{ taInfo.office_number }}</td>
                <td>{{ taInfo.office_location }}</td>
            </tr>
        {% elif instrInfo != None %}
            <tr>
                <td>{{ instrInfo.phone_number }}</td>
                <td>{{ instrInfo.office_hour }}</td>
                <td>{{ instrInfo.office_number }}</td>
                <td>{{ instrInfo.office_location }}</td>
            </tr>
        {% endif %}
    </table>

{% endblock %}