{% extends 'base.html' %}

{% block title %}Add User{% endblock %}

{% block content %}

    <form method="post">
        You can add and view users here...
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <input type="submit", name="selection", value ="Add as Instructor">
        <input type="submit", name="selection" value ="Add as TA">
    </form>
    <br/>

    <h3>All Users:</h3>
    <table>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>First</th>
            <th>Last</th>
            <th>Email</th>
        </tr>
        {% for i in users %}
            <tr>
                <td>{{ i.username }}</td>
                <td>******</td>
                <td>{{ i.first_name }}</td>
                <td>{{ i.last_name }}</td>
                <td>{{ i.email }}</td>
            </tr>
        {% endfor %}
    </table>

    <h3>Instructors:</h3>
    <table>
        <tr>
            <th>User</th>
            <th>Phone #</th>
            <th>Office Hours</th>
            <th>Office #</th>
            <th>Office Location</th>
        </tr>
        {% for i in instructors %}
            <tr>
                <td>{{ i.user }}</td>
                <td>{{ i.phone_number }}</td>
                <td>{{ i.office_hour }}</td>
                <td>{{ i.office_number }}</td>
                <td>{{ i.office_location }}</td>
            </tr>
        {% endfor %}
    </table>

    <h3>Teaching Assistants:</h3>
    <table>
        <tr>
            <th>User</th>
            <th>Phone #</th>
            <th>Office Hours</th>
            <th>Office #</th>
            <th>Office Location</th>
        </tr>
        {% for i in teachingAssistants %}
            <tr>
                <td>{{ i.user }}</td>
                <td>{{ i.phone_number }}</td>
                <td>{{ i.office_hour }}</td>
                <td>{{ i.office_number }}</td>
                <td>{{ i.office_location }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}