{% extends 'base.html' %}

{% block title %}Add User{% endblock %}

{% block content %}

    <form method="post">
        You can add, delete and view users here...
        {{ form.as_p }}
        {% csrf_token %}
        Create TA <input type="submit", name="selection" value ="addTA">
        Create Instructor <input type="submit", name="selection", value ="addInstructor">
    </form>

    <br>
    Current list of users:
    {% for i in users %}
        <br/>{{ i }}
    {% endfor %}
{% endblock %}