<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
        header * {
            display: inline;
        }
        header li {
            margin: 5px;
        }
        table {
            width: 25%;
        }
        th {
            text-align: left;
        }
    </style>
</head>
<body>
  <main>
    <header>
            <nav>
                <ul>
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    {% if user.is_superuser %}
                        <li>
                            <a href="/adduser">Add User</a>
                        </li>
                    {% endif %}
                    {% if user.is_superuser %}
                        <li>
                            <a href="/deluser">Delete User</a>
                        </li>
                    {% endif %}
                    {% if user.is_superuser %}
                        <li>
                            <a href="/courses">Add Course</a>
                        </li>
                    {% endif %}
                    {% if user.is_superuser %}
                        <li>
                            <a href="/delcourse">Delete Course</a>
                        </li>
                    {% endif %}
                    {% if user.is_superuser %}
                        <li>
                            <a href="/sections">Add Section</a>
                        </li>
                    {% endif %}
                    {% if user.is_superuser %}
                        <li>
                            <a href="/delsection">Delete Section</a>
                        </li>
                    {% endif %}
                    {% if not user.is_superuser %}
                        <li>
                            <a href="/account">My Account</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="..">Logout</a>
                    </li>
                </ul>
            </nav>
    </header>
    <br>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>