{% extends 'base.html' %}

{% block title %}Courses{% endblock %}

{% block content %}

    <form method="post">
        You can add and view courses here...
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit", name="addCourse">
    </form>
    <br/>

    <table>
        <tr>
            <th>Department</th>
            <th>Course #</th>
            <th>Instructor</th>
        </tr>
        {% for i in courses %}
            <tr>
                <td>{{ i.department }}</td>
                <td>{{ i.course_num }}</td>
                <td>{{ i.instructor }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}