{% extends 'base.html' %}

{% block title %}Delete Users{% endblock %}

{% block content %}
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
              rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <style>
            .test {
                margin-left: 20px;
                margin-right: 20px;
            }

            .pad {
                padding-top: 5px;
                padding-bottom: 5px;
            }
        </style>
    </head>

    <div class="container-fluid">
        <form method="post">
            <br>
            <div class="card border-secondary text-center mr-5 ml-5">
                <h5 class="card-header">
                    Delete User
                </h5>
                <div class="card-body">
                    <br>
                        <div class="form-group row pad">
                            <label for="id_user_to_delete" class="col-sm-3 col-form-label">User To Delete</label>
                            <div class="col-sm-4">
                                <div class="md-form mt-0">
                                    {{ form.user_to_delete }}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <input class="btn btn-dark btn-block ml-3" type="submit", name="submit", value="Delete"/>
                            </div>
                        </div>
                {% csrf_token %}
                </div>
            </div>
        </form>
    </div>
    <br>
    <br>
    <div class="card border-secondary text-center mr-5 ml-5">
        <h5 class="card-header">
            All Users
        </h5>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
        <tbody>
            {% for i in users %}
                <tr class="table-secondary">
                    <td>{{ i.username }}</td>
                    <td>******</td>
                    <td>{{ i.first_name }}</td>
                    <td>{{ i.last_name }}</td>
                    <td>{{ i.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="card border-secondary text-center mr-2 ml-5">
                <h5 class="card-header">
                    Instructors
                </h5>
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">User</th>
                            <th scope="col">Phone #</th>
                            <th scope="col">Office Hours</th>
                            <th scope="col">Office #</th>
                            <th scope="col">Office Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in instructors %}
                            <tr class="table-secondary">
                                <td>{{ i.user }}</td>
                                <td>{{ i.phone_number }}</td>
                                <td>{{ i.office_hour }}</td>
                                <td>{{ i.office_number }}</td>
                                <td>{{ i.office_location }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card border-secondary text-center mr-5 ml-2">
                <h5 class="card-header">
                    Teachers Assistants
                </h5>
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">User</th>
                            <th scope="col">Phone #</th>
                            <th scope="col">Office Hours</th>
                            <th scope="col">Office #</th>
                            <th scope="col">Office Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in teachingAssistants %}
                            <tr class="table-secondary">
                                <td>{{ i.user }}</td>
                                <td>{{ i.phone_number }}</td>
                                <td>{{ i.office_hour }}</td>
                                <td>{{ i.office_number }}</td>
                                <td>{{ i.office_location }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}