{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
  <div class="jumbotron ml-5 mr-5">
        <div class="container">
            <h5 class="display-4">Hi {{ user.username }}!</h5>
            <hr class="my-4">
            <p class="lead">Now witness the file power of this fully armed and operational syllabus application</p>
        </div>
    </div>
    {% if ta != None %}
        <h3>Your Sections:</h3>
        <table>
        {% for i in sections %}
                <tr>
                   <td>{{ i }}
                </tr>
        {% endfor %}
        </table>

    {% elif instr != None %}
        <h3>Your Courses:</h3>
        <table>
        {% for i in courses %}
                <tr>
                    <td>{{ i }}</td>
                </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}