
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
            <img src="Images/Death Star.png" class="mr-3" alt="">
                <h5 class="card-title text-center">D.E.A.T.H. S.T.A.R.</h5>
                <form action="/" method="post">
                    {% csrf_token %}
                    <table>
                        <div class="form-group">
                            <label for="name">Username:</label>
                            <input type="text" class="form-control" placeholder="Enter username" id="name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" placeholder="Enter password" id="password" name="password">
                        </div>
                        <h5 class="card-title text-center">
                        <button type="submit" class="btn btn-dark">Login</button>
                        </h5>


                            {% if fail_message %}
                                <hr class="my-4">
                                <h5 class="text-center">
                                {{ fail_message }}
                                {{ name }}
                                {{ password }}
                                </h5>
                                <br>
                            {% endif %}
                    </table>
                </form>
            </div>
        </div>
      </div>
    </div>
</div>
</body>
</html>
