{% extends 'base.html' %}

{% block title %}Add Sections{% endblock %}

{% block content %}
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
              rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <style>
            .test {
                margin-left: 20px;
                margin-right: 20px;
            }

            .pad {
                padding-top: 5px;
                padding-bottom: 5px;
            }
        </style>
    </head>


    <div class="card border-secondary text-center mr-5 ml-5">
        <h5 class="card-header">Add Section</h5>
        <div class="card-body">
            <form method="post">
                <div class="form-group row pad">
                    <label for="id_teaching_assistant" class="col-sm-3 col-form-label">Teaching Assistant</label>
                    <div class="col-sm-4">
                        <div class="md-form mt-0">
                            {{ form.teaching_assistant }}
                        </div>
                    </div>
                </div>
                <div class="form-group row pad">
                    <label for="id_course" class="col-sm-3 col-form-label">Course</label>
                    <div class="col-sm-4">
                        <div class="md-form mt-0">
                            {{ form.course }}
                        </div>
                    </div>
                </div>
                <div class="form-group row pad">
                    <label for="id_section_number" class="col-sm-3 col-form-label">Section Number</label>
                    <div class="col-sm-4">
                        <div class="md-form mt-0">
                            {{ form.section_number}}
                        </div>
                    </div>
                </div>
                <div class="col text-center">
                    <input class="btn btn-dark " type="submit", name="addSection">
                </div>

                {% csrf_token %}
            </form>
        </div>
    </div>
    <br/>
    <br>
    <div class="card border-secondary text-center mr-5 ml-5 ">
        <h5 class="card-header">
            List of Sections
        </h5>
        <div class="card-body">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Course</th>
                        <th scope="col">Section</th>
                        <th scope="col">TA</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in sections %}
                        <tr class="table-secondary">
                            <td>{{ i.course }}</td>
                            <td>{{ i.section_num }}</td>
                            <td>{{ i.teachingAssistant }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}